.textfield {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 5%;
}

.label {
  font-size: 0.9rem;
}

.input-form {
  width: 85%;
}

.error-message {
  color: #c32b1f;
  margin-top: 0.5rem;
  font-size: 0.7rem;
}

.input-form.error-message,
.input-form.error-message:focus {
  border: 1px solid #c32b1f;
}
